@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './variables.scss';

// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

// Common
body {
    font-family: 'Roboto', sans-serif;
    min-width: 992px;
    background-color: $mainColorBg;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

.btn {
    background-color: $mainColorRed;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border: none;
}

.container {
    width: 97%;
    margin: 0 auto;
}

.flex {
    display: flex;
}